{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'pages:home' %}">首页</a>
        <a id =selectedlink href="{% url 'pages:addplace' %}">添加地点</a> 
        <a id =link href="{% url 'pages:addspot' %}">添加景点</a> 
        <a id =link  href="{% url 'pages:mguser' %}">用户管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <h4>添加地点->编辑地点</h4>
    <div style="width:100%;margin:5% auto">
        <form enctype='multipart/form-data' action="{% url 'pages:editplace' place.id%}" method="post" name='editplace' >{% csrf_token %}
            <table align="center" >
                    <tr>
                        <td style="width:20%">名称：</td>
                        <td style="width:80%"><input type="text" id="id_name" name="name"  value='{{place.name}}' style="width:100%; height:60px" autofocus required  /></td>
                    </tr>
                    <tr>
                        <td style="width:20%">关键词：</td>
                        <td style="width:80%"><input type="text" id="id_name" name="keywords"  value='{{place.keywords}}' style="width:100%; height:60px" autofocus required  /></td>
                    </tr>
                    <tr>
                        <td>简介：</td>
                        <td><textarea id="id_introduce"  name="introduce"   style="width:100%; height:300px">{{place.introduce}}</textarea></td>
                    </tr>
                    <tr>
                        <td>费用：</td>
                        <td><input type="text" id="id_name" name="cost"  value='{{place.cost}}' style="width:100%; height:60px" /></td>
                    </tr>
                    <tr>
                        <td style="width:20%">交通：</td>
                        <td style="width:80%">
                            <label><input name="traffic" type="checkbox" value="高铁" checked="checked" color=white/>高铁 </label> 
                            <label><input name="traffic" type="checkbox" value="航空" />航空 </label> 
                            <label><input name="traffic" type="checkbox" value="港口" />港口 </label> 
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:20%">物价：</td>
                        <td style="width:80%">
                            <label><input name="price" type="radio"" checked="checked" value="高" />高 </label> 
                            <label><input name="price" type="radio"" value="中" />中 </label> 
                            <label><input name="price" type="radio"" value="低" />低 </label> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%">景点门票：</td>
                        <td style="width:80%">
                            <label><input name="spotticket" type="radio"" checked="checked" value="贵" />贵 </label> 
                            <label><input name="spotticket" type="radio"" value="较贵" />较贵 </label> 
                            <label><input name="spotticket" type="radio"" value="便宜" />便宜 </label> 
                            <label><input name="spotticket" type="radio"" value="较便宜" />较便宜 </label> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%">医疗：</td>
                        <td style="width:80%">
                            <label><input name="hospital" type="radio"" checked="checked" value="有三甲医院" />有三甲医院 </label> 
                            <label><input name="hospital" type="radio"" value="无三甲医院" />无三甲医院 </label> 
                        </td>
                    </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确认修改" style="width:120px; height:30px;float:right" ></td>
                </tr>
            </table>     
        </form>
    </div>
{% endblock %}