{% extends 'base.html' %}
{% block head %}
    <h1>录海南省候鸟式养老系统-管理</h1>
{% endblock %}

{% block contentmenu %}
<table align="center">
    <tr>
        <form action="{% url 'pages:add' %}" method="post" name='add'>{% csrf_token %}
            <input type="submit" value="添加" style="width:80px; height:30px;float:right" >
        </form>
    </tr>
    <tr>
        <form action="{% url 'pages:review' %}" method="post" name='view'>{% csrf_token %}
            <input type="submit" value="浏览" style="width:80px; height:30px;float:right" >
        </form>
    </tr>
</table>  
{% endblock %}
