{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'pages:home' %}">首页</a>
        <a id =link href="{% url 'pages:addplace' %}">添加地点</a> 
        <a id =selectedlink href="{% url 'pages:addspot' %}">添加景点</a> 
        <a id =link  href="{% url 'pages:mguser' %}">用户管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <form enctype='multipart/form-data' action="{% url 'pages:addspot' %}" method="post" name='addspot' >{% csrf_token %}
        <table width="90%"  align="center">
             <tr>
                 <td>名称:</td>
                 <td><input type="text" id="id_name" name="name" placeholder="请输入名称" style="width:100%; height:60px" autofocus required  /></td>
             </tr>
             <tr>
                <td style="width:10%">所属养老地</td>
                <td style="width: 50%;height:60px">
                <select name="placename" panelHeight="auto" style="width: 100%;height:30px;float:left">
                {% for place in place_list.all %}
                    <option value='{{place.name}}'>{{place.name}}</option>
                {% endfor %}
                </select> 
            </td>
            </tr>
             <tr>
                <td>详细地址:</td>
                <td><textarea id="id_address" placeholder="请输入地址" name="address"   style="width:100%; height:80px"></textarea></td>
             </tr>
             <tr>
                    <td>时间:</td>
                    <td><input type="text" placeholder="请输入开放时间" name="time"   style="width:100%;height:60px"></td>
            </tr>
             <tr>
                 <td>简介:</td>
                 <td><textarea id="id_introduce" placeholder="请输入简介" name="introduce"   style="width:100%; height:300px"></textarea></td>
             </tr>
             <tr>
                <td>图片:</td>
                <td><input type="file" id="id_image" name="image" placeholder="上传图片" style="width:100%; height:32px"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确认添加" style="width:120px; height:30px;float:right" ></td>
            </tr>
        </table>     
    </form>
{% endblock %}