{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link_center href="{% url 'pages:home' %}">首页</a>
		<a id =link_center href="{% url 'pages:highsearch' %}">高级筛选</a>
        <a id =link_center  href="{% url 'pages:searchspot' %}">搜索景点</a> 
		<a id =link_center  href="{% url 'pages:retiregroup' %}">养老圈</a>
        <a id =selectedlink_center href="{% url 'pages:mginfo_c' %}">商家信息管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <h4>信息管理->信息编辑</h4>
    <div style="width:100%;margin:5% auto">
        <form enctype='multipart/form-data' action="{% url 'pages:editinfo_c' place.id%}" method="post" name='editinfo_c' >{% csrf_token %}
            <table align="center" >
                    <tr>
                        <td style="width:30%" align="right">名称：</td>
                        <td style="width:70%" ><input type="text" id="id_name" name="name"  value='{{place.name}}' style="width:100%; height:60px" autofocus required  /></td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">电话：</td>
                        <td style="width:70%" align="left"><input type="text" id="id_pthone" name="phone"  value='{{place.phone}}' style="width:100%; height:60px" autofocus required  /></td>
                    </tr>
                        <td style="width:30%" align="right">关键词：</td>
                        <td style="width:70%"><input type="text" id="id_name" name="keywords"  value='{{place.keywords}}' style="width:100%; height:60px" autofocus required  /></td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">被赞：</td>
                        <td style="width:70%" align="left">{{place.likedcount}}次</td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">简介：</td>
                        <td style="width:70%"  align="left"><textarea id="id_introduce"  name="introduce"   style="width:100%; height:300px">{{place.introduce}}</textarea></td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">图片：</td>
                        <td style="width:70%" align="left"><img src='{{ MEDIA_URL }}{{ place.image}}' alt='' width="800" height="600"/></td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">更改图片：</td>
                        <td style="width:70%" align="left"><input type="file" id="id_image" name="image" value="{{place.image}}" placeholder="上传图片" style="width:100%; height:32px"></td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">平均费用：</td>
                        <td tyle="width:70%" align="left"><input type="number" id="id_cost" name="cost"  value='{{place.cost}}' style="width:50%" />元/天</td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">交通：</td>
                        <td style="width:70%" align="left">
                            <label id="trafficlist" style="display:none">{{place.traffic}}</label>
                            <label><input name="traffic"  type="checkbox" value="高铁" />高铁 </label> 
                            <label><input name="traffic" type="checkbox" value="航空" />航空 </label> 
                            <label><input name="traffic" type="checkbox" value="港口" />港口 </label> 
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:30%" align="right">物价：</td>
                        <td style="width:70%" align="left">
                            <label id="price" style="display:none">{{place.price}}</label>
                            <label><input name="price" type="radio"" value="高" />高 </label> 
                            <label><input name="price" type="radio"" value="中" />中 </label> 
                            <label><input name="price" type="radio"" value="低" />低 </label> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">景点门票：</td>
                        <td style="width:70%" align="left">
                            <label id="spotticket" style="display:none">{{place.spotticket}}</label>
                            <label><input name="spotticket" type="radio"" value="贵" />贵 </label> 
                            <label><input name="spotticket" type="radio"" value="较贵" />较贵 </label> 
                            <label><input name="spotticket" type="radio"" value="便宜" />便宜 </label> 
                            <label><input name="spotticket" type="radio"" value="较便宜" />较便宜 </label> 
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td>
                            {% for spot in place.scenicspot_set.all %}
                            <label name="nearbyspot" style="display:none">{{spot.name}}</label>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">附近景点<label font-size="10px">(按住ctrl键,再点击可多选哟)</label></td>
                        <td style="width: 70%;height:60px">
                            <select name="spotname"  class="selectpicker form-control" multiple data-max-options="10" style="width: 50%;float:left">
                                {% for spot in spot_list.all %}
                                <option name='{{spot.name}}'>{{spot.name}}</option>
                            {% endfor %}
                            </select> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%" align="right">医疗：</td>
                        <td style="width:70%" align="left">
                            <label id="hospital" style="display:none">{{place.hospital}}</label>
                            <label><input name="hospital" type="radio"" value="有三甲医院" />有三甲医院 </label> 
                            <label><input name="hospital" type="radio"" value="无三甲医院" />无三甲医院 </label> 
                        </td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">具体地址：</td>
                        <td tyle="width:70%" align="left"><input type="text" id="id_address" name="address"  value='{{place.address}}' style="width:100%; height:60px" /></td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">单人房：</td>
                        <td>
                            <table>
                                <tr>
                                    <td tyle="width:50%" align="left"><input type="number" id="id_singleroomcount" name="singleroomcount"  value='{{place.singleroomcount}}' style="width:40%" />间</td>
                                    <td tyle="width:50%" align="left"><input type="number" id="id_singleroomfee" name="singleroomfee"  value='{{place.singleroomfee}}' style="width:40%" />元/天</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">双人房：</td>
                        <td>
                            <table>
                                <tr>
                                    <td tyle="width:50%" align="left"><input type="number" id="id_doubleroomcount" name="doubleroomcount"  value='{{place.doubleroomcount}}' style="width:40%" />间</td>
                                    <td tyle="width:50%" align="left"><input type="number" id="id_doubleroomfee" name="doubleroomfee"  value='{{place.doubleroomfee}}' style="width:40%" />元/天</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td tyle="width:30%" align="right">家庭房：</td>
                            <td>
                                <table>
                                     <tr>
                                        <td tyle="width:50%" align="left"><input type="number" id="id_familyroomcount" name="familyroomcount"  value='{{place.familyroomcount}}' style="width:40%" />间</td>
                                        <td tyle="width:50%" align="left"><input type="number" id="id_familyroomfee" name="familyroomfee"  value='{{place.familyroomfee}}' style="width:40%" />元/天</td>
                                    </tr>
                                </table>
                            </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="确认修改" style="width:120px; height:30px;float:right" ></td>
                    </tr> 
            </table>      
        </form>
    </div>
    <script>
        window.onload=function(){
            trafficFunction();
            priceFunction();
            spotticketFunction();
            hospitalFunction();
            nearbySpotFunction();
        }
        function trafficFunction() {
            var traffic = document.getElementById('trafficlist');
            var trafficlabels = document.getElementsByName('traffic');

            var text=traffic.innerText;
            if(text==""){
                trafficlabels[0].checked=true;
                trafficlabels[1].checked=false;
                trafficlabels[2].checked=false;
            }
            else{
                if(text.indexOf("高铁")!=-1){
                trafficlabels[0].checked=true;

                }
                if(text.indexOf("航空")!=-1){
                    trafficlabels[1].checked=true;
                }
                if(text.indexOf("港口")!=-1){
                    trafficlabels[2].checked=true;
                }
            }
        }
        function priceFunction() {
            var price = document.getElementById('price');
            var pricelabels = document.getElementsByName('price');
            var text=price.innerText;
            pricelabels[0].checked=false;
            pricelabels[1].checked=false;
            pricelabels[2].checked=false;
            if(text==""){//default 
                pricelabels[0].checked=true;
            }
            else if(text.indexOf("高")!=-1){
                pricelabels[0].checked=true;

            }
            else if(text.indexOf("中")!=-1){
                pricelabels[1].checked=true;
            }
            else if(text.indexOf("低")!=-1){
                pricelabels[2].checked=true;
             }
        }
        function spotticketFunction() {
            var spotticket = document.getElementById('spotticket');
            var spotticketlabels = document.getElementsByName('spotticket');
            var text=spotticket.innerText;
            spotticketlabels[0].checked=false;
            spotticketlabels[1].checked=false;
            spotticketlabels[2].checked=false;
            if(text==""){//default 
                spotticketlabels[0].checked=true;
            }
            else if(text.indexOf("较贵")!=-1){
                spotticketlabels[1].checked=true;
            }
            else if(text.indexOf("贵")!=-1){
                spotticketlabels[0].checked=true;
            }
            else if(text.indexOf("较便宜")!=-1){
                spotticketlabels[3].checked=true;
            }
            else if(text.indexOf("便宜")!=-1){
                spotticketlabels[2].checked=true;
            }
        }
        function hospitalFunction() {
            hospital
            var hospital = document.getElementById('hospital');
            var hospitallabels = document.getElementsByName('hospital');
            var text=hospital.innerText;
            hospitallabels[0].checked=false;
            hospitallabels[1].checked=false;
            if(text==""){//default 
                hospitallabels[0].checked=true;
            }
            else if(text.indexOf("有三甲医院")!=-1){
                hospitallabels[0].checked=true;
            }
            else if(text.indexOf("无三甲医院")!=-1){
                hospitallabels[1].checked=true;
            }
        }
        function nearbySpotFunction() {
            var nearbySpotLabels = document.getElementsByName('nearbyspot');
           for( var i=0; i<nearbySpotLabels.length; i++){
                var label = nearbySpotLabels[i];
                var spotname=label.innerText;
                var option=document.getElementsByName(spotname)[0];
                option.selected = true;  
            }
        }
    </script>
{% endblock %}