{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink href="{% url 'pages:home' %}">首页</a>
        <a id =link href="{% url 'pages:addplace' %}">添加地点</a> 
        <a id =link href="{% url 'pages:addspot' %}">添加景点</a> 
        <a id =link  href="{% url 'pages:login' %}">用户管理</a> 
        <a id =link  href="{% url 'pages:login' %}">留言管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div id=textcontent>
        {% for place in place_list.all %}
            <h4>{{ place.name }}</h4>
            <p><lable id='简介:'></label> {{ place.introduce}}</p>
            <p><lable id='价格:'></label>{{place.price}}</p>
            <p><lable id='发布时间:'></lable> {{place.publishtime}}</p>
            <input type="submit" value="编辑" style="width:120px; height:30px;float:right" >
        {% endfor %}
    </div>
{% endblock %}