{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink href="pages/homepage.html">首页</a>

        <a id =link  href="{% url 'pages:login' %}">分享</a> 
		<a id =link href="{% url 'pages:login' %}">高级筛选</a>
		<a id =link  href="{% url 'pages:login' %}">最受欢迎景点</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 10% 20%;">

    	<table>
			<tr>
				<td><input type="text" id="search" name="search_content" placeholder="请输入您要搜索的内容" style="width:600px; height:30px" autofocus required /></td>
				<td><input type="submit" name='search' value="搜索" style="width:80px; height:30px"></td>
			</tr>
		</table>
        <div id=textcontent>
            {% for place in place_list.all %}
                <h4>{{ place.name }}</h4>
                <p><lable id='简介:'></label> {{ place.introduce}}</p>
                <p><lable id='价格:'></label>{{place.price}}</p>
                <p><lable id='发布时间:'></lable> {{place.publishtime}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}