{% extends 'base.html' %}

{% block style %}
    <style>
        input,select{height:30px; width:200px; vertical-align:left;font-size: 32}
    </style>
{% endblock %}

{% block topmenucenter %}
<br/>
{% endblock %}

{% block topmenuright %}
<br/>
{% endblock %}

{% block head %}
<br/>
{% endblock %}
{% block contentbody %}
    <div style="width:100%;margin:5% 5% 5% 5%">
        <h2>海南省候鸟式养老信息系统</h2>
        <form action="{% url 'pages:index' %}" method="post" name='index'>{% csrf_token %}
            <table align="center">
                <tr >
                    <td></td>
                    <td style="background-color: dodgerblue;size:10;color:white;border:none">免费注册</td>
                </tr>
                <tr>
                    <td>名称：</td>
                    <td><input type="text" id="id_username" name="username" placeholder="请输入用户名" autofocus required  /></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" id="id_password" placeholder="请输入密码" name="password" required  /></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><input type="text" id="id_mail" placeholder="请输入邮箱" name="mail" required /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="注册">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><a id =linkwithdecoration  style="color:white;float:right" href="{% url 'pages:login' %}">已有账号登录</a></td>
                </tr>
            </table>     
    </form>
{% endblock %}