{% extends 'base.html' %}

{% block head %}  

{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
    #pcontent{
        font-size:28px;
        color:darkslategrey
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link_center href="{% url 'pages:home' %}">首页</a>
		<a id =link_center href="{% url 'pages:highsearch' %}">高级筛选</a>
        <a id =link_center  href="{% url 'pages:searchspot' %}">搜索景点</a> 
		<a id =link_center  href="{% url 'pages:retiregroup' %}">养老圈</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <h4>确认订单</h4>
    <div style="width:100%;margin:5% auto">
        <form enctype='multipart/form-data' action="{% url 'pages:makeorder' place_id room_kind%}" method="post" name='makeorder' >{% csrf_token %}
            <table align="center" >
                <tr>
                    <td style="width:30%" align="right">养老机构：</td>
                    <td style="width:70%" >{{place.name}}</td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">地址：</td>
                    <td style="width:70%" >{{place.address}}</td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">机构电话：</td>
                    <td style="width:70%" >{{place.phone}}</td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">入住日期：</td>
                    <td style="width:70%" align="left"><input type="date" id="id_checkin" name="checkin"   onchange="onCheckInDate()" style="width:100%"d/></td>
                </tr>
                    <td style="width:30%" align="right">离开日期：</td>
                    <td style="width:70%"><input type="date" id="id_checkout" name="checkout " onchange="onCheckOutDate()" style="width:100%" /></td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">共：</td>
                    <td style="width:70%" ><label id="daycount"></label>晚</td>
                </tr>
                <tr>
                        <td style="width:30%" align="right">房间数：</td>
                        <td style="width:70%"  align="left"><input type="number"  value=1 id="id_roomcount"  name="oomcount" min=1 style="width:100%"></td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">入住人姓名：</td>
                    <td style="width:70%" align="left"><input type="text" id="id_guestname" name="guestname"  value='' style="width:50%" autofocus required/></td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">联系电话：</td>
                    <td style="width:70%" align="left"><input type="text" id="id_phone" name="phone"  value='' style="width:50%" autofocus required/></td>
                </tr>
                <tr>
                    <td style="width:30%" align="right">入住人数：</td>
                    <td style="width:70%"  align="left"><input type="number"  value='' id="id_guestcount"  name="guestcount" min=1 style="width:100%"></td>
                </tr>
                <tr>
                    <td tyle="width:30%" align="right">费用：</td>
                    <td style="width:70%"  align="left"><label id="id_fee"></label>元</td>
                </tr>
                <tr>
                    <td style="width:30%" align="right"></td>
                    <td tyle="width:70%"  align="left"><input type="submit" value="确认提交" style="width:120px; height:30px;float:right" ></td>
                </tr>
            </table>      
        </form>
    </div>
    <script>
        defaultCheckinOut();

        function defaultCheckinOut() {
            document.getElementById('id_checkin').valueAsDate = new Date();
            var dd = new Date();
            dd.setDate(dd.getDate()+1);
            document.getElementById('id_checkout').valueAsDate =  dd;
        }

        function onCheckInDate(){
            var checkin=document.getElementById("id_checkin").valueAsDate;
            var checkout=document.getElementById("id_checkout").valueAsDate;
            if(checkin.getTime()>=checkout.getTime())
            {
                checkout.setDate(checkin.getDate()+1);
                document.getElementById('id_checkout').valueAsDate =  checkout;
            }
            document.getElementById("daycount").innerHTML=dayCount();
            document.getElementById("fee").innerHTMLfeeFunction();
        }

        function onCheckOutDate(){
            var checkin=document.getElementById("id_checkin").valueAsDate;
            var checkout=document.getElementById("id_checkout").valueAsDate;
            if(checkin.getTime()>=checkout.getTime())
            {
                alert("离开日期不得小于等于入住日期！");
                checkout.setDate(checkin.getDate()+1);
                document.getElementById('id_checkout').valueAsDate =  checkout;
            }
            document.getElementById("daycount").innerHTML=dayCount();
            document.getElementById("fee").innerHTML=feeFunction();
        }

        var daycount =dayCount();
        document.getElementById("daycount").innerHTML =daycount;
        
        function dayCount() {
            var checkin=document.getElementById("id_checkin").valueAsDate.getTime();
            var checkout=document.getElementById("id_checkout").valueAsDate.getTime();
            var timeDiff = Math.abs(checkout - checkin)
            return Math.ceil(timeDiff / (1000 * 3600 * 24));
        }
        var fee =feeFunction();
        document.getElementById("id_fee").innerHTML =fee;
        
        function feeFunction() {
            // return place.singleroomfee;
            if(room_kind==="0"){
                return place.singleroomfee*document.getElementById("id_roomcount")*dayCount();
            }
            if(room_kind===1){
                return place.doubleroomfee*document.getElementById("id_roomcount")*dayCount();
            }
            if(room_kind===2){
                return place.familyroomfee*document.getElementById("id_roomcount")*dayCount();
            }
        }
    </script>
{% endblock %}