
{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
    #pcontent{
        font-size:28px;
        color:darkslategrey
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link_center href="{% url 'pages:home' %}">首页</a>
		<a id =link_center href="{% url 'pages:highsearch' %}">高级筛选</a>
        <a id =link_center  href="{% url 'pages:searchspot' %}">搜索景点</a> 
		<a id =link_center  href="{% url 'pages:retiregroup' %}">养老圈</a>
        <a id =selectedlink_center href="{% url 'pages:mginfo_c' %}">商家信息管理</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div id=textcontent>
        <h4>{{ place.name }}</h4>
        <img src='{{ MEDIA_URL }}{{ place.image}}' width="800" height="600" alt=''/>
        <p align="left" id=pcontent><lable>关键词:</label> {{ place.keywords}}</p>
        <p align="left" id=pcontent><lable>简介:</label> {{ place.introduce}}</p>
        <p align="left" id=pcontent>电话：{{place.phone}} </p>
        <p align="left" id=pcontent>地址：{{place.address}}</p>
        <p align="left" id=pcontent>
            <tr>
            	<td>平均费用：{{place.cost}}(元/月)</td>
                <td>&nbsp&nbsp交通:</td>
                <td></td>{{ place.traffic}}</td>
            </tr>
        </p>
        <p align="left" id=pcontent>
            <tr>
                <td>物价:</td>
                <td>{{place.price}}</td>
                <td>&nbsp&nbsp景点门票:</td>
                <td>{{place.spotticket}}</td>
                <td>&nbsp&nbsp医疗:</td>
                <td>{{place.hospital}}</td>
            </tr>
        </p>
        <p align="left" id=pcontent>
            <tr>
                <td >附近景点：</td>
                <td>
                    {% for spot in place.scenicspot_set.all %}
                    &nbsp&nbsp<a  href="{% url 'pages:placedetail' place.id %}">{{ spot.name}}</a>
                    {% endfor %}
                </td>
            </tr>
        </p>
        <p align="left" id=pcontent>
            <tr>
                <td>单人房：</td>
                <td>&nbsp&nbsp{{place.singleroomcount}}间</td>
                <td>&nbsp&nbsp{{place.singleroomfee}}元/天</td>
            </tr>
        </p>
        <p align="left" id=pcontent>
            <tr>
                <td>双人房：</td>
                <td>&nbsp&nbsp{{place.doubleroomcount}}间</td>
                <td>&nbsp&nbsp{{place.doubleroomfee}}元/天</td>
            </tr>
        </p>
        <p align="left" id=pcontent>
            <tr>
                <td>家庭房：</td>
                <td>&nbsp&nbsp{{place.familyroomcount}}间</td>
                <td>&nbsp&nbsp{{place.familyroomfee}}元/天</td>
            </tr>
        </p>
        <p align="left" id=pcontent><lable id=''>更新时间:</lable> {{place.publishtime}}</p>        
        <p align="center">
        <tr>
            <td><a href="{% url 'pages:editinfo_c' place.id %}">编辑</a></td>
        </tr>
        </p>
    </p>
    </div>
{% endblock %}