{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}

{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link_center href="{% url 'pages:home' %}">首页</a> 
        <a id =selectedlink_center href="{% url 'pages:mgspot' %}">景点管理</a> 
        <a id =link_center  href="{% url 'pages:mguser' %}">个人会员管理</a> 
		<a id =link_center href="{% url 'pages:mgplace' %}">养老机构管理</a>
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 5% 5%;">
        <div id=textcontent>
                <a href="{% url 'pages:addspot' %}"><input type="submit" value="添加景点" style="width:120px; height:30px;float:right" ></a>
            {% for spot in spot_list.all %}
                <h4>{{ spot.name }}</h4>
                <img name="image" src='{{ MEDIA_URL }}{{ spot.image}}' alt=''/ width="800" height="600">
                <p align="left" ><lable>简介:</label> {{ spot.introduce}}</p>
                <p align="left" id=pcontent><lable>附近养老机构:</label>
                    {% for place in spot.nearbyplace.all %}
                    &nbsp&nbsp<a  href="{% url 'pages:placedetail' place.id %}">{{ place.name}}</a>
                    {% endfor %}
                </p>
                <p align="left" id=pcontent><lable>详细地址:</label> {{ spot.address}}</p>
                <p align="left" id=pcontent><lable>开放时间:</label> {{ spot.opentime}}</p>
                <p align="center">
                    <tr>
                        <td><a href="{% url 'pages:editspot' spot.id %}">编辑</a></td>
                        <td><a href="{% url 'pages:delspot' spot.id %}">删除</a></td>  
                    </tr>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}