{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =link href="{% url 'pages:home' %}">首页</a>
		<a id =link href="{% url 'pages:highsearch' %}">高级筛选</a>
		<a id =selectedlink  href="{% url 'pages:retiregroup' %}">养老圈</a> 
    </div>
{% endblock %}

{% block contentbody %}
    <div style="margin: 10% 20%;">
        <div>
            <h4>养老圈</h4>
            {% for share in share_list.all %}
                <p align="left" padding="10px"> 
                <table>
                    <tr align="left">
                        <td>{{share.user.name}}</td>
                        <td>
                            <table>
                               <tr align="left"><p align="left">{{share.text}}</p></tr>
                               <tr align="left"><a  href="{% url 'pages:placedetail'  share.place.id %}">{{share.place.name}}</a></tr>
                               <tr align="left">{{share.time}}</tr>
                            </table>
                        </td>
                    </tr>
                <table>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}