{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #link{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:gray;          
    }
    #selectedlink{
        font-size:20px;
        padding: 6px;
        text-decoration:none;
        color:black;         
    }
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink href="{% url 'pages:home' %}">首页</a>
		<a id =link href="{% url 'pages:highsearch' %}">高级筛选</a>
		<a id =link  href="{% url 'pages:retiregroup' %}">养老圈</a> 
    </div>
{% endblock %}

{% block contentbody %}
<h4>分享到养老圈</h4>
<div style="margin: 5% auto">
    <div id=textcontent>
        <form enctype='multipart/form-data' action="{% url 'pages:shareplace' place.id %}" method="post" name='shareplace' >{% csrf_token %}
            <tr align="center">
                <textarea  placeholder="想说点什么呢" name="text"   style="width:90%; height:300px"></textarea></td>
            </tr>
            <tr  align="left">
                <input type="file" id="id_image" name="image" value="上传图片" style="width:90%; height:32px">
            </tr>
            <br/>
            <p align="left" width="90%">
                <a width="90%" height=100px text-overflow="ellipsis" href="{% url 'pages:placedetail' place.id  %}">{{place.name}}&nbsp&nbsp{{place.introduce}}</a> 
                <input type="submit" value="确认分享" style="width:120px; height:30px;float:right" >
            </p>
        </form>
    </div>
{% endblock %}