{% extends 'base.html' %}

{% block head %}  
<br/>
{% endblock %}

{% block style %}
<style>
    #textcontent {
        width: 80%;
        height: auto;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
        margin:5% auto
    }
</style>
{% endblock %}
{% block topmenucenter %}
    <div style="padding:20px">
        <a id =selectedlink_center href="{% url 'pages:home' %}">首页</a>
		<a id =link_center href="{% url 'pages:highsearch' %}">高级筛选</a>
		<a id =link_center  href="{% url 'pages:retiregroup' %}">养老圈</a> 
    </div>
{% endblock %}
{% block contentbody %}
    <h4>共{{ count }}个景点</h4>
    <div style="margin: 5% 5%;">
        <div id=textcontent>
            {% for spot in spot_list.all %}
                <h4>{{ spot.name }}</h4>
                <img src='{{ MEDIA_URL }}{{ spot.image}}'/>
                <!-- <p align="center">/media/{{ spot.image}}</p> -->
                <p align="left" ><lable>简介:</label> {{ spot.introduce}}</p>
                <p align="left" id=pcontent><lable>所属养老地:</label> {{ spot.place.name}}</p>
                <p align="left" id=pcontent><lable>详细地址:</label> {{ spot.address}}</p>
                <p align="left" id=pcontent><lable>开放时间:</label> {{ spot.opentime}}</p>
            {% endfor %}
        </div>
        <!-- <p>
            <table>
                <tr>
                    <td><input type="text" id="search" name="search_content" placeholder="请输入您要搜索的内容" style="width:600px; height:30px" autofocus required /></td>
                    <td><input type="submit" name='search' value="搜索" style="width:80px; height:30px"></td>
                </tr>
            </table>
        </p>
        <table>
            <tr>
                <td>名称</td>
                <td>简介</td>
                <td>地址</td>
                <td>开放时间</td>
                <td>图片</td>
            </tr>
            {% for place in place_list.all %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>{{ place.introduce }}</td>
                    <td>{{ book.address }}</td>
                    <td>{{ book.time }}</td>
                    <td>{{ book.image }}</td>
                </tr>
            {% endfor %}
        </table> -->
    </div>
{% endblock %}